.element__textimage {

    margin: 30px 0;
    @include media($breakpoint-medium) {
        margin: 40px 0;
    }

    @include media($breakpoint-large) {
        margin: 50px 0;
    }
}

.textimage__text {
    @include media($breakpoint-large) {
        width: 50%;
        padding-right: 115px;
    }
}

.textimage__title {

}

.textimage__content {
    margin-top: 13px;
    margin-bottom: 30px;

    @include media($breakpoint-medium) {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    @include media($breakpoint-large) {
        margin-top: 0;
        p {
            margin-top: 0;
        }
    }
}

.textimage__image {
    text-align: center;
    border-bottom: solid 1px #aaa;
    padding-bottom: 12px;
    @include media($breakpoint-medium) {
        padding-bottom: 0;
        border-bottom: none;
    }
    @include media($breakpoint-large) {
        width: 50%;
        padding-left: 15px;
    }
    .video__iframe {
        min-height: 180px;
        max-width: 600px;
        @include media($breakpoint-medium) {
            min-height: 350px;
        }
        @include media($breakpoint-large) {
            max-height: 350px
        }
        height: 100%;
    }
}

.textimage__image__image {
    width: 100%;
}

.textimage__buttoncontainer {
    border-bottom: solid 1px #aaa;
    padding-bottom: 20px;
    @include media($breakpoint-medium) {
        border-bottom: none;
        padding-bottom: 30px;
        text-align: center;
        margin: auto;
    }
}