$videowidth: 100%;
$videoheight: 100%;

.element__videoelement {
    padding-top: 30px;
    padding-bottom: 30px;
    @include media($breakpoint-medium) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @include media($breakpoint-large) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.v-container {
    position: relative;
    overflow: hidden;
    padding: 0 0 56.25% 0;
    width: 100% !important;

    .video__iframe {
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        position: absolute;
        margin: auto;
        @include media($breakpoint-medium) {
            min-height: 400px;
        }
        @include media($breakpoint-large) {
            min-height: 650px;
        }
    }
}

.video__block {
    width: 100%;
}
